extends layout

block content

  script(src='/javascripts/editor.js')
  <input type="file" id="openFile" />
  <input id="fileContent" type="hidden" value="">
  <button id="btnAnalize" type="button" >Analizar Entrada</button>