extends layout

block content
  h1= title
  p Welcome to #{title}
  
  <input type="file" id="openFile" />
   <input id="fileContent" type="hidden" value="">
   <button id="btnAnalize" type="button" >Analizar Entrada</button>
   <pre id="tablaSimbolos"></pre>

