doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.3.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/http.js')

  body
    block content
